.graph {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
}

.coa-box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coa-big-ol-button {
  width: 100%;
  border: 1px solid #000000;
  height: 180px;
}

.coa-services {
  background-color: #1a264f;
}

.coa-glossary {
  background-color: #5398be;
}

.coa-resources {
  background-color: #b3d2e0;
}
