.viz-widget {
  box-sizing: border-box;
  border-radius: 4px;
  margin: 15px;
  height: 580px;
}

.card {
  border: 0.1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.coa-box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-footer {
  border-top: 0.1px solid #000000;
}

.coa-big-ol-button {
  width: 100%;
  border: 0.5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 160px;
}

.coa-darkblue {
  background-color: #1a264f;
}

.coa-medblue {
  background-color: #5398be;
}

.coa-lightblue {
  background-color: #b3d2e0;
}

.nav-pills .nav-link.active,
.nav-pills {
  border-radius: 15px;
  height: 25px;
  line-height: 10px;
  font-size: 14px;
  text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: black;
}

.nav-pills .nav-link {
  background-color: #f1f2f2;
  color: black;
  border-radius: 15px;
  height: 25px;
  line-height: 10px;
  font-size: 14px;
  text-align: center;
  margin: 3px;
}

body {
  background-color: #faf9f9;
}
.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  background: #ffffff;
  color: black;
  border: 1px solid #000000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  max-width: 400px;
  width: inherit;
}

.tooltip.show * {
  text-align: left;
}

.coa-nav {
  background: #ffffff;
}

.modal-header {
  border: none;
}

a.coa-big-ol-button {
  padding-top: 60px;
<<<<<<< HEAD
}

.coa-heading {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #0050d8;
}

.card-banner {
  background: #fef9e8;
  border: 0;
}

.card-banner a {
  color: #0049c7;
  text-decoration: underline;
}

.card-body {
  background: #ffffff;
}

.no-border {
  border:0;
}

.top-or-border { /*rename*/
  border-top: 1px solid #fac710;
}


.material-icons.icon-dark { 
  color: #272727; 
}

.material-icons.icon-blue { 
  color: #0050D8;
}

.icon-20 {
  height: 20px;
  width: 20px;
  margin: 4px;
}

.dashboard-information {
  margin-top: 45px;
}

.dashboard-information p {
  font-size: 14px;
  padding-left: 22px;
}

h1 {
  color: #ffffff;
  font-size: 24px;
}

a[aria-expanded=true] .plus-sign {
  display: none
}

a[aria-expanded=false] .minus-sign {
  display: none;
}

.icon-link {
  text-decoration: none;
  display: inline-block;
  padding-left: 2px;
}

.card-body a {
  color: #0049c7;
  text-decoration: underline;
}

.open-new-icon {
  vertical-align: text-bottom;
  font-size: 18px;
  padding-left: 2px;
}
